"*":
  "atom-pair":
    pusher_app_key: "2e96d457dfdca7cca81f"
    pusher_app_secret: "c2af00915d465930f289"
  core:
    disabledPackages: [
      "about"
      "welcome"
    ]
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    fontSize: 10
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "9a418efc-cf69-5e15-d7f7-fa5984c6bef2"
  "git-diff": {}
  linter:
    inlineTooltipInterval: 1000
    lintOnFlyInterval: 2500
    showErrorTabLine: true
  "linter-elixir-credo":
    flags: "--strict"
  "linter-rubocop":
    command: "/Users/dev/.rvm/gems/ruby-2.3.1/bin/rubocop"
  "linter-ruby-reek":
    executablePath: "/Users/dev/.rvm/gems/ruby-2.4.0/bin/reek"
  tabs:
    addNewTabsAtEnd: true
    enableVcsColoring: true
